<%include ../partials/header%>

<div class="container">
    <div class="page-header">
        <h1>User Profile <small><%= user.username %></small></h1>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">User Information</h3>
                </div>
                <div class="panel-body">
            		<form role="form" action="/users" method="POST">
            			<div class="row">
            				<div class="col-xs-12 col-sm-6 col-md-6">
            					<div class="form-group">
            					    <label class="control-label" for="firstName">First Name</label>
                                    <input type="text" name="firstName" id="firstName" class="form-control input-md" placeholder="First Name" tabindex="1" value="<%=user.firstName%>">
            					</div>
            				</div>
            				<div class="col-xs-12 col-sm-6 col-md-6">
            					<div class="form-group">
            					    <label class="control-label" for="lastName">Last Name</label>
            						<input type="text" name="lastName" id="lastName" class="form-control input-md" placeholder="Last Name" tabindex="2" value="<%=user.lastName%>">
            					</div>
            				</div>
            			</div>
            			<div class="form-group">
            			    <label class="control-label" for="username">Email Address</label>
            				<input type="email" name="username" id="username" class="form-control input-md" placeholder="email@example.com" tabindex="3" value="<%=user.username%>">
            			</div>
            			<div class="form-group">
            			    <label class="control-label" for="phoneNumber">Phone Number</label>
            				<input type="text" name="phoneNumber" id="phoneNumber" class="form-control input-md" placeholder="(207) 555-5555" tabindex="4" value="<%=user.phoneNumber%>">
            			</div>
            			<div class="row">
            				<div class="col-xs-12 col-sm-6 col-md-6">
            					<!--<div class="form-group">-->
            					<!--	<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password" tabindex="6">-->
            					<!--</div>-->
            				</div>
            				<div class="col-xs-12 col-sm-6 col-md-6">
            					<div class="form-group">
            					    <label class="control-label" for="password">Password</label>
            						<input type="password" name="password" id="password" class="form-control input-md" placeholder="Password" tabindex="5" readonly>
            					</div>
            				</div>
            			</div>
            			<hr>
            			<div class="row">
            			    <div class="col-xs-12 col-md-6"></div>
            				<div class="col-xs-12 col-md-6"><input type="submit" value="Update Info" class="btn btn-primary btn-block btn-lg" tabindex="6"></div>
            			</div>
            		</form>
	            </div>
    		</div>
    	</div>
    	<div class="col-xs-12 col-sm-8 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Delivery Addresses</h3>
                </div>
                <div class="panel-body">
                    <div class="panel panel-default">
                        <% if(user.address.length > 0){ %>
                            <% for(var i=0; i < user.address.length; i++){ %>
                                <div class="panel-body">
                                    <address>
                                        <strong><%=user.address[i].name%></strong><br>
                                        <%=user.address[i].address1%>, <%=user.address[i].address2%><br>
                                        <%=user.address[i].city%>, <%=user.address[i].state%> <%=user.address[i].zipCode%><br>
                                        P: <%=user.address[i].phoneNumber%>
                                    </address>
                                </div>
                            <% } %>
                        <% } else { %>
                        <h4>No Delivery Addresses</h4>
                        <% } %>
                    </div>
        			<div class="row">
        			    <div class="col-xs-12 col-md-6"></div>
        				<div class="col-xs-12 col-md-6"><button class="btn btn-primary btn-block btn-lg" tabindex="6" href="#" data-toggle="modal" data-target="#newAddressM">Add a new Address</div>
        			</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="newAddressM" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    	<div class="modal-dialog modal-lg">
    		<div class="modal-content">
    			<div class="modal-header">
    				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    				<h4 class="modal-title" id="myModalLabel">ADD A NEW DELIVERY ADDRESS</h4>
    			</div>
    			<div class="modal-body">
                      <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                          <form class="form-horizontal" role="form" action="/users/<%=user._id%>?_method=PUT" method="POST">
                            <fieldset>
                    
                              <!-- Form Name -->
                              <legend>Address Details</legend>
                    
                              <!-- Text input-->
                              <div class="form-group">
                                <label class="col-sm-2 control-label" for="textinput">Name</label>
                                <div class="col-sm-10">
                                  <input type="text" placeholder="i.e. Home, Work, etc..." class="form-control" name="name">
                                </div>
                              </div>
                              
                              <div class="form-group">
                                <label class="col-sm-2 control-label" for="textinput">Line 1</label>
                                <div class="col-sm-10">
                                  <input type="text" placeholder="Address Line 1" class="form-control" name="address1">
                                </div>
                              </div>
                    
                              <!-- Text input-->
                              <div class="form-group">
                                <label class="col-sm-2 control-label" for="textinput">Line 2</label>
                                <div class="col-sm-10">
                                  <input type="text" placeholder="Address Line 2" class="form-control" name="address2">
                                </div>
                              </div>
                    
                              <!-- Text input-->
                              <div class="form-group">
                                <label class="col-sm-2 control-label" for="textinput">City</label>
                                <div class="col-sm-10">
                                  <input type="text" placeholder="City" class="form-control" name="city">
                                </div>
                              </div>
                    
                              <!-- Text input-->
                              <div class="form-group">
                                <label class="col-sm-2 control-label" for="textinput">State</label>
                                <div class="col-sm-4">
                                  <input type="text" placeholder="State" class="form-control name="state"">
                                </div>
                    
                                <label class="col-sm-2 control-label" for="textinput">Zip Code</label>
                                <div class="col-sm-4">
                                  <input type="text" placeholder="Zip Code" class="form-control" name="zipCode">
                                </div>
                              </div>
                    
                              <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                  <div class="pull-right">
                                    <button type="submit" class="btn btn-default">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                  </div>
                                </div>
                              </div>
                    
                            </fieldset>
                          </form>
                        </div><!-- /.col-lg-12 -->
                    </div><!-- /.row -->
                </div>
    			<div class="modal-footer">
    				<button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
    			</div>
    		</div><!-- /.modal-content -->
    	</div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

<%include ../partials/footer%>